<iframe class="h-full w-full absolute"
    [src]="videoUrl" frameborder="0"></iframe>

<div class="h-screen bg-white">
    <div class="pt-[20%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap">{{bannerOverview}}</p>
        <div>
            <button
                class="bg-white text-black py-4 px-12 text-xl rounded-lg cursor-pointer hover:bg-opacity-0 transition-[1s]">
                <i class="fas fa-play"></i> Play
            </button>
            <button
                class="mx-2 bg-gray-600 text-white py-4 px-12 text-xl rounded-lg cursor-pointer hover:bg-opacity-30 transition-[1s]">
                <i class="fas fa-info-circle"></i> More Info
            </button>
        </div>
    </div>
</div>